<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>sparky</string>
	<key>CFBundleGetInfoString</key>
	<string>3.113, NMR Peak Assignment Program</string>
	<key>CFBundleIconFile</key>
	<string>sparky-icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.ucsf.cgl.sparky</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sparky</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.113</string>
	<key>CFBundleSignature</key>
	<string>SPAR</string>
	<key>CFBundleVersion</key>
	<string>3.113</string>
	<key>LSBackgroundOnly</key>
	<false/>
</dict>
</plist>
